<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My first jQuery Mobile code</title>
        <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.4.5.min.css" />
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <script type="application/javascript">
        document.addEventListener('touchmove', function(event) {
            if(event.target.type == 'range') return;
            event.preventDefault();
        })
    </script>
</head>
<body>

<div data-role="page" id="page1" data-title="This is the first page" data-fullscreen="true" >
    <div data-role="header" data-add-back-btn="true" data-position="fixed">
        <a href="#dialog" class="ui-btn-right" data-icon="gear" data-theme="b">Login</a><h1>First page</h1>
    </div>
    <div data-role="content">
        <div data-role="controlgroup" data-type="horizontal">
        <a href="#" data-role="button">Button 1</a>
        <a href="#" data-role="button">Button 2</a>
        <a href="#" data-role="button">Button 3</a>
        </div>
    <div id="controller">
        <img src="/images/controller.jpg" width="480px"/>
    </div>
        <div id="list">
            <ul data-role="listview" data-inset="true">
                <li>Offline Access
                <li>Geolocation API
                <li>Canvas
                <li>Offline Storage
                <li>New semantic tags
            </ul>
        </div>



    </div>
    <div data-role="footer" data-id="main" data-position="fixed" >
    <div data-role="navbar">
        <ul>
            <li><a href="#index" data-icon="home" class="ui-btn-active ui-state-persist">Home</a>
            <li><a href="#contacts" data-icon="search">Contacts</a>
            <li><a href="#events" data-icon="info">Events</a>
            <li><a href="#news" data-icon="grid">News</a>
        </ul>
    </div>
    </div>

</div>
<div data-role="dialog" id="dialog"  data-add-back-btn="true"  >
    <div data-role="header" >
        <h1>Second page</h1>
    </div>
    <div data-role="content">
        <p>This is the main content of the second page</p>
        <p>You can go back using the header's button,
            <a href="#page1"  data-transition="pop" data-role="button">clicking here</a>
            <a href="mailto:info@mobilexweb.com?subject=Contact&body=This%20is%20the%20
body%0D%0AThis%20is%20a%20new%20line" data-role="button"> 给我们发邮件</a>
            or using your browser's back button.
    </div>

</div>

</body>
<script src="/javascripts/chat.js" type="text/javascript"></script>
<script src="/javascripts/chat_client.js" type="text/javascript"></script>
</html>


