<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style_mobile.css" />
    <title>运动大师</title>
        <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script>
        $(window).load(function() {
            setTimeout("window.scrollTo(0, 0)", 1);//hide URL bar
        });

    function showIOSInvitation() {
        setTimeout(function () {
            $.mobile.changePage($("#ios"), {transition: "pop",
                changeHash: false});
        }, 100);}

        function showWaitingDialog() {
            setTimeout(function () {
                $.mobile.changePage($("#waitingDlg"), {transition: "pop",
                    changeHash: false});
            }, 100);}

        function CloseWaitingDialog() {
            setTimeout(function () {
                $.mobile.changePage($("#page1"));
            }, 5000);}


        function getOrientation(){
            var supportOrientation=(typeof window.orientation == "number" && typeof window.onorientationchange == "object");
            var orient;
            if(supportOrientation){
                    var orientation=window.orientation;
                    switch(orientation){
                        case 90:
                        case -90:
                            orientation="landscape";
                            break;
                        default:
                            orientation="portrait";
                    }
                    orient = orientation;
                }
            else{
                    orient=(window.innerWidth > window.innerHeight)? "landscape":"portrait";
                }
                return orient;
            }

            function orient() {
                $("#controller").html("");
                if (getOrientation() == "portrait") {
                    $("#controller").html("<p>请将手机横屏放置</p>");
                }
                else
                {
                    $("#controller").html("");
                    setTimeout(function () {
                        $.mobile.changePage($("#page1"));
                    }, 500);}
                  //showWaitingDialog();
                    //CloseWaitingDialog();

                }
            }


        $(document).bind("mobileinit", function() {
            $.mobile.loadingMessage = " 正在加载 ";
                $.mobile.page.prototype.options.backBtnText = " 后退 ";
                $.mobile.dialog.prototype.options.closeBtnText = " 关闭 "
                $.mobile.collapsible.prototype.options.expandCueText = " 点击展开 ";
                $.mobile.collapsible.prototype.options.collapseCueText = " 点击收起 ";
                $.mobile.listview.prototype.options.filterPlaceholder = " 过滤 ";
                $.mobile.selectmenu.prototype.options.closeText = " 关闭 ";
                $.mobile.touchOverflowEnabled = true;

                $(function(){
                orient();
            });

//用户变化屏幕方向时调用
            $(window).bind( 'orientationchange', function(e){
                orient();
            });

            if (navigator.platform != "iPhone") {
                showIOSInvitation();
            }

        });
    </script>
    <!--<link rel="stylesheet" href="/stylesheets/jackiedefault.min.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="/stylesheets/jquery.mobile.structure-1.4.5.min.css" />-->
    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.4.5.min.css"/>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <script type="application/javascript">
        document.addEventListener('touchmove', function(event) {
            if(event.target.type == 'range') return;
            event.preventDefault();
        });

    </script>

</head>
<body>

<div data-role="page" id="page1" data-title="运动大师" data-fullscreen="true" >
    <div id="controller">
        <div id="room"></div>

    </div>
    </div>
</div>


<div data-role="dialog" id="waitingDlg" data-close-btn="none">
    <div data-role="header">
        <h1>请排队</h1>
    </div>
    <div data-role="content">
        <div id="waitingMsg">
            <p>排队等待，游戏即将开始！</p>
        </div>
    </div>
</div>


</body>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="/javascripts/chat.js" type="text/javascript"></script>
<script src="/javascripts/chat_client.js" type="text/javascript"></script>
</html>


